<?xml version='1.0' encoding='utf-8'?>
<widget id="com.smart.droid.finkit" version="0.0.3" android-versionCode="3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FinKit</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
	<platform name="android">
		<!--icon src="res/android/finkit_ldpi.png" density="ldpi" /-->
        <icon src="res/android/finkit_mdpi.png" density="mdpi" />
        <icon src="res/android/finkit_hdpi.png" density="hdpi" />
        <icon src="res/android/finkit_xhdpi.png" density="xhdpi" />
        <icon src="res/android/finkit_xxhdpi.png" density="xxhdpi" />
        <icon src="res/android/finkit_xxxhdpi.png" density="xxxhdpi" />
	</platform>    
    <content src="index.html" />
    <access origin="*" />

    <feature name="InAppBrowser">
      <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>

</widget>
